%h1  Games

%div.col-md-11.col-xs-12.schedTable
	%table{:class => 'table table-striped table-hover'}
		%thead
			%tr
				%th.col-md-1.col-xs-1
					%h5.text-center Week
				%th.col-md-1.col-xs-1
					%h5.text-center  Date
				%th.col-md-1.col-xs-1
					%h5.text-center  Time
				%th.col-md-3.col-xs-3
					%h5.text-left  Visitor
				%th.col-md-1.col-xs-1
					%h5.text-center  Score
				%th.col-md-3.col-xs-3
					%h5.text-left  Home
				%th.col-md-1.col-xs-1
					%h5.text-center  Score
				%th
					%h5.text-center Status
		%tbody#gamesTable
			- @schedules.each do |s|
				= render :partial => 'shared/gamesRow', :locals => {:s => s}
			

	<%= link_to 'New Schedule', new_schedule_path %>
