.row#SchedHead	
	%h1.col-md-4  Games
	- determineWeekNum(Time.now)
	%div.btn-toolbar.pull-right
		%h5.col-md-1.col-xs-1.col-sm-1.text-center Week:
		%div{:class => 'btn-group'}
			- @y = Schedule.minimum('week')
			- while @y <= Schedule.maximum('week')
				%button{:class => 'btn btn-sm btn-default wkBtn', :'data-wk' => @y, :id => "Week#{@y}"} #{@y}
				- @y += 1
		%div{:class => 'btn-group'}
			%button{:class => 'btn btn-sm  btn-info wkBtn', :'data-wk' => 'All', :id => 'All'} Show All
			%div{:class => 'btn-toolbar'}

%div.col-md-10.col-xs-12.schedTable
	%table{:class => 'table table-striped table-hover'}
		%thead
			%tr
				-# %th.col-md-1.col-xs-1
				-# 	%h5.text-center Week
				%th.col-md-1.col-xs-1
					%h5.text-center  Date
				%th.col-md-1.col-xs-1
					%h5.text-center  Time
				%th.col-md-3.col-xs-3
					%h5.text-left  Visitor
				%th.col-md-1.col-xs-1
					%h5.text-center  Score
				%th.col-md-3.col-xs-3
					%h5.text-left  Home
				%th.col-md-1.col-xs-1
					%h5.text-center  Score
				%th.col-md-1.col-xs-1
					%h5.text-center Status
		%tbody#gamesTable
			= render :partial => 'shared/gamesRow', :locals => {:schedules => @schedules}
			
