.row{:class => "col-md-4"}
	%h2{:class => "col-md-5 textRight"} Round
	%h1{:class => "col-md-7 textLeft", :id => "roundNum"} #{@roundNum}
.row{:class => "col-md-4"}
	%h2{:class => "col-md-5 textRight"} Pick
	%h1{:class => "col-md-7 textLeft", :id => "pickNum"} #{@pickNum}
.row{:class => "col-md-4"}
	%h2{:class => "col-md-5 textRight"} Picking:
	%h1{:class => "col-md-7 textRight", :id => "teamPicking", :'data-tID' => @userName.id } #{@userName.owner}
-# %h1{:class => "col-md-4 textRight", :id => "teamPicking", :'data-tID' => @userName.name } #{@userName.owner}