.row{:class => "col-md-4 col-sm-4 col-xs-12"}
	%h2{:class => "col-md-5 col-sm-5 col-xs-5 text-right"} Round:
	%h1{:class => "col-md-7 col-sm-7 col-xs-7 text-center", :id => "roundNum"} #{@roundNum}
.row{:class => "col-md-4 col-sm-4 col-xs-12"}
	%h2{:class => "col-md-5 col-sm-5 col-xs-5 text-right"} Pick:
	%h1{:class => "col-md-7 col-sm-7 col-xs-7 text-center", :id => "pickNum"} #{@pickNum}
.row{:class => "col-md-4 col-sm-4 col-xs-12"}
	%h2{:class => "col-md-5 col-sm-5 col-xs-5 text-right"} Picking:
	%h1{:class => "col-md-7 col-sm-7 col-xs-7 text-center", :id => "teamPicking", :'data-tID' => @userName.id } #{@userName.owner}
-# %h1{:class => "col-md-4 textRight", :id => "teamPicking", :'data-tID' => @userName.name } #{@userName.owner}