- if @auth_user
	- if @auth_user.id == @userName.id || @auth_user.id == 6
		- @hover = "table-hover"
	- else
		- @hover = "table-opacity-low"
- else
	- @hover = "table-opacity-low"
-# - @hover = "table-hover"

%div{:class => 'col-md-3 col-sm-6 col-xs-12'}
	%table{:class => @hover + ' table table-striped col-md-3 col-sm-6 col-xs-12'}
		-# %tr
		-# 	%th{:class => 'nBox'} Name
		- @teams1.each do |t|
			= render :partial => 'shared/teamRow', :locals => {:t => t}
%div{:class => 'col-md-3 col-sm-6 col-xs-12'}
	%table{:class => @hover + ' table table-striped col-md-3'}
		-# %tr
		-# 	%th{:class => 'nBox'} Name
		- @teams2.each do |t|
			= render :partial => 'shared/teamRow', :locals => {:t => t}
%div{:class => 'col-md-3 col-sm-6 col-xs-12'}
	%table{:class => @hover + ' table table-striped col-md-3'}
		-# %tr
		-# 	%th{:class => 'nBox'} Name
		- @teams3.each do |t|
			= render :partial => 'shared/teamRow', :locals => {:t => t}
%div{:class => 'col-md-3 col-sm-6 col-xs-12'}
	%table{:class => @hover + ' table table-striped col-md-3'}
		-# %tr
		-# 	%th{:class => 'nBox'} Name
		- @teams4.each do |t|
			= render :partial => 'shared/teamRow', :locals => {:t => t}
