#SpinnerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "SpinnerModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		#spinner-modal.modal-content
			.modal-body
				%img{:src => "http://brianegan.be/tpAssets/graphics-football-player.gif"}
				-# %img{:src => "http://brianegan.be/tpAssets/graphics-football-player-color.gif"}